// Guitar styles

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

section {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

// form {
//   text-align: center;
//   margin: 0 auto;
// }

fieldset {
  display: inline-block;
  width: max-content;
}

// label + label {
//   margin-left: 2.5em;
// }

input[type='number'] {
  font-size: 1.125rem;
  width: 2.5em;
  height: 1.25em;
  padding: 0.25em 0.5em;
  // margin-left: 0.5rem;
  color: red;
}

.notes {
  display: inline-block;
  padding: 1em 0.5em;
}

