*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

section {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

// form {
//   text-align: center;
//   margin: 0 auto;
// }

fieldset {
  display: inline-block;
  width: max-content;
}

// label + label {
//   margin-left: 2.5em;
// }

input[type='number'] {
  font-size: 1.125rem;
  width: 2.5em;
  height: 1.25em;
  padding: 0.25em 0.5em;
  // margin-left: 0.5rem;
  color: red;
}

.notes, .intervals {
  display: inline-block;
  padding: 1em 0.5em;
}

// .chord-info {
//   margin: 0 auto;
//   text-align: center;
// }


.chord-details {
  // margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  // border: 1px solid #000;
}

.scale-info {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

p {
  padding: 0;
  margin: 0.5em 0;
}

ul {
  // list-style: none;
  padding: 0;
  margin: 0;
}

ul > ul {
  margin-left: 1.5em;
}

.chord-root {
  background-color: #ddd;
  display: inline-block;
  padding: 0 0.25em;
}
.deg {
  background-color: #ccc;
  display: inline-block;
  padding: 0 0.25em;
}